nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(209, 178, 233);
    gap: 45px;
}

nav a {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}

nav a:hover {
    color: rgb(254, 255, 255);
}

nav a svg {
    margin-right: 5px;
}